<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>EnglishGang | Проекты</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/themify-icons.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/projects.css">
    <link rel="stylesheet" href="static/css/header.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body class="body">
    <!-- header-start -->
    <div id="header-container"></div>
    <!-- header-end -->

    <!--================projects start =================-->
    <div class="projects-content">
        <h1 class="main-title" style="text-align: center;font-size: 70px;  font-family: 'Abril Fatface', cursive;">Наши проекты</h1>
        <p class="subtitle">Обзор текущих и завершенных проектов</p>
    
        <div class="projects-list">
            <div class="project-card">
                <div class="project-header">
                    <h2>Приложение WhatPLNT</h2>
                    <span class="project-status">Работа над проектом окончена</span>
                </div>
    
                <div class="project-preview">
                    <div class="preview-image">
                        <img src="static/img/blog/PL1.png" alt="Проект 1" loading="lazy" width="600" height="600">
                    </div>
                    <div class="preview-text">
                        <p>Приложение распознавания домашних растений</p>
                    </div>
                </div>
    
                <div class="project-expand">
                    <button class="expand-btn" onclick="toggleProject(this)">
                        <span class="button-text">Подробнее</span>
                        <span class="button-icon">▼</span>
                    </button>
                </div>
    
                <div class="project-details">
                    <div class="details-content">
                        <p style="text-align: center;">Данное приложение представляет собой десктопное приложение, позволяющее классифицировать загружаемые изображения на основе заранее обученной модели ResNet-18.</p>
                        <div class="project-gallery">
                            <div class="gallery-item">
                                <img src="static/img/blog/PL2.png" alt="Изображение проекта 1" loading="lazy" width="600" height="600">
                            </div>
                            <div class="gallery-item">
                                <img src="static/img/blog/PL3.png" alt="Изображение проекта 1" loading="lazy" width="600" height="600">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="project-card">
                <div class="project-header">
                    <h2>Многоагентная система Магнит и Пятерочка</h2>
                    <span class="project-status">Работа над проектом окончена</span>
                </div>
    
                <div class="project-preview">
                    <div class="preview-image">
                        <img src="static/img/blog/MS1.png" alt="Проект 2" loading="lazy" width="600" height="600">
                    </div>
                    <div class="preview-text">
                        <p>Многоагентная система доставки продуктов</p>
                    </div>
                </div>
    
                <div class="project-expand">
                    <button class="expand-btn" onclick="toggleProject(this)">
                        <span class="button-text">Подробнее</span>
                        <span class="button-icon">▼</span>
                    </button>
                </div>
    
                <div class="project-details">
                    <div class="details-content">
                        <p style="text-align: center;">Симуляция в реальном времени процесса доставки продуктов в магазины из склада посредством машин .</p>
                        <div class="project-gallery">
                            <div class="gallery-item">
                                <img src="static/img/blog/MS2.png" alt="Изображение проекта 2" loading="lazy" width="600" height="600">
                            </div>
                            <div class="gallery-item">
                                <img src="static/img/blog/MS3.png" alt="Изображение проекта 2" loading="lazy" width="600" height="600">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Пример для других проектов -->
            <div class="project-card">
                <div class="project-header">
                    <h2>Сайт подбора автомобиля</h2>
                    <span class="project-status">Работа над проектом окончена</span>
                </div>
    
                <div class="project-preview">
                    <div class="preview-image">
                        <img src="static/img/blog/AU1.png" alt="Проект 3" loading="lazy" width="600" height="600">
                    </div>
                    <div class="preview-text">
                        <p>Сайт по подбору автомобиля</p>
                    </div>
                </div>
    
                <div class="project-expand">
                    <button class="expand-btn" onclick="toggleProject(this)">
                        <span class="button-text">Подробнее</span>
                        <span class="button-icon">▼</span>
                    </button>
                </div>
    
                <div class="project-details">
                    <div class="details-content">
                        <p style="text-align: center;">Сайт по подбору автомобиля</p>
                        <div class="project-gallery">
                            <div class="gallery-item">
                                <img src="static/img/blog/AU2.png" alt="Изображение проекта 3" loading="lazy" width="600" height="600">
                            </div>
                            <div class="gallery-item">
                                <img src="static/img/blog/AU3.png" alt="Изображение проекта 3" loading="lazy" width="600" height="600">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--================projects end =================-->

    <!-- footer start -->
    <div id="footer-container"></div>

    <!-- footer end  -->

    <!-- JS here -->

    <script src="static/js/projects.js"></script>
    <script src="static/js/global.js"></script>


</body>
</html>